<h2>Eventos</h2>
<hr>
<form action="" class="form-inline">
  <div class="form-group mb-2 d-flex align-items-center">
    <input type="text" class="form-control form-control-sm mr-2 mb-2 w-25" placeholder="buscar">
    <button class="btn btn-outline-success btn-md ">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
      <tr>
          <th scope="col">#</th>
          <th scope="col">Imagem</th>
          <th scope="col">Tema</th>
          <th scope="col">Local</th>
          <th scope="col">Data</th>
          <th scope="col">Qtd de Pessoas</th>
          <th scope="col">Lote</th>
          <th scope="col">Opções</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let evento of eventos">
          <th scope="row">{{evento.eventoId}}</th>
          <td><img src="{{evento.imagemUrl}}" alt="Imagem do Evento" class="img-thumbnail"></td>
          <td>{{evento.tema}}</td>
          <td>{{evento.local}}</td>
          <td>{{evento.dataEvento}}</td>
          <td>{{evento.qtdPessoas}}</td>
          <td>{{evento.lote}}</td>
          <td>
              <button class="btn btn-primary btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm">Excluir</button>
          </td>
      </tr>
  </tbody>
</table>
